@font-face {
    font-family: Hammerreg;
    src: url("../fonts/HammersmithOne-Regular.ttf");
}

@font-face {
    font-family: PlayFair;
    font-weight: 900;
    src: url("../fonts/PlayfairDisplay-Black.ttf");
}

@font-face {
    font-family: PlayFair;
    font-weight: 700 800;
    src: url("../fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: PlayFair;
    font-weight: 400;
    src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: Robo;
    font-weight: 900;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: Robo;
    font-weight: 300;
    src: url("../fonts/Roboto-Black.ttf");
}